<!DOCTYPE html>
<html>
    <head>
        <title>USTC 导航</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="科大网址大全">
        <meta name="keywords" content="USTC,科大,网址,首页">
        <meta name="author" content="hypercube">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-Control" content="no-cache">
        <link rel="icon" href="favicon.ico">
        <link href="css/style.css" rel="stylesheet">
        <script src="js/vue.min.js"></script>
    </head>
    <body>
        <div class="u_nav-wrapper">
            <div class="u_nav">
                <div class="u_nav-left">
                    <a class="u_nav-link" href=".">USTC 导航</a>
                </div>
                <!-- PC 端搜索框组 -->
                <div class="u_nav-input-group">
                    <form id="search-form-pc">
                        <input class="u_nav-input" id="search-pc">
                        <input type="submit" hidden>
                    </form>
                    <ul>
                        <li class="u_nav-btn">
                            <span onclick="search('google', 'pc')">Google</span>
                            <ul class="u_nav-ul">
                                <li><span class="u_nav-li" onclick="search('bing', 'pc')">Bing</span></li>
                                <li><span class="u_nav-li" onclick="search('baidu', 'pc')">百度</span></li>
                                <li><span class="u_nav-li" onclick="search('wolframalpha', 'pc')">wolfram</span></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- 移动端搜索框组 -->
                <div class="um_nav-input-group">
                    <div class="clear"></div>
                    <form id="search-form-mobile">
                        <input class="um_nav-input" id="search-mobile">
                        <input type="submit" hidden>
                    </form>
                    <div class="um_nav-btn" onclick="search('bing', 'mobile')">Bing</div>
                    <div class="um_nav-btn" onclick="search('google', 'mobile')">Google</div>
                    <div class="um_nav-btn" onclick="search('baidu', 'mobile')">百度</div>
                    <div class="um_nav-btn" onclick="search('wolframalpha_mob', 'mobile')">wolfram</div>
                </div>
                <div class="u_nav-right">
                    <a class="u_nav-link" href="https://ustc.life/">本站网址: <b>ustc.life</b></a>
                    <a href="#" class="u_nav-link" onclick="setHome(this, window.location)">设为首页</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="u_main-wrapper">
            <div class="main">
                <div class="main-col">
                    <!-- 常用网址 -->
                    <div class="main-block">
                        <span class="block-title">常用网址</span>
                        <div class="block-grid-wrapper">
                            <div class="block-grid">
                                <a href="https://www.ustc.edu.cn/" target="_blank">
                                    科大官网
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-telegram"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="https://mail.ustc.edu.cn/" target="_blank">
                                    邮箱
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-envelop"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="http://wlt.ustc.edu.cn/" target="_blank">
                                    网络通
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-sphere"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="https://jw.ustc.edu.cn/" target="_blank">
                                    新版教务系统
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-bug"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="https://bbs.ustc.edu.cn/" target="_blank">
                                    瀚海星云
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-bubbles4"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="https://i.ustc.edu.cn/" target="_blank">
                                    校园信息门户
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-newspaper"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="http://lib.ustc.edu.cn/" target="_blank">
                                    图书馆
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-books"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="https://verify-transcript.cmet.ustc.edu.cn/index.jsp" target="_blank">
                                    成绩单打印
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-printer"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="https://icourse.club/" target="_blank">
                                    评课社区
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-blog"></use></svg>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <!-- 学在科大 -->
                    <div class="main-block">
                        <span class="block-title">学在科大</span>
                        <div class="block-grid-wrapper">
                            <div class="block-grid">
                                <a href="http://lib.ustc.edu.cn/" target="_blank">
                                    图书馆
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-books"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="https://mis.teach.ustc.edu.cn/" target="_blank">
                                    旧版教务系统
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-heart-broken"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="https://icourse.club/" target="_blank">
                                    评课社区
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-blog"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="http://ic.lib.ustc.edu.cn/" target="_blank">
                                    学习空间预约
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-address-book"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="http://202.38.85.45/jxzy/login.aspx" target="_blank">
                                    大物实验
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-lab"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="http://moocs.ustc.edu.cn/" target="_blank">
                                    慕课平台
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-svg"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="http://202.38.65.52/xyzd/" target="_blank">
                                    学业指导中心
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-office"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="https://www.teach.ustc.edu.cn/" target="_blank">
                                    教务处
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-briefcase"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="https://www.bb.ustc.edu.cn/" target="_blank">
                                    网络教学平台
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-spell-check"></use></svg>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="main-col">
                    <!-- 乐在科大 -->
                    <div class="main-block">
                        <span class="block-title">乐在科大</span>
                        <div class="block-grid-wrapper">
                            <div class="block-grid">
                                <a href="https://vi.ustc.edu.cn/" target="_blank">
                                    科大文化
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-library"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="https://bbs.ustc.edu.cn/" target="_blank">
                                    瀚海星云
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-bubbles4"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="http://staff.ustc.edu.cn/" target="_blank">
                                    教工 FTP 主页
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-rss"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="http://www.ustcbbq.top/" target="_blank">
                                    表白墙
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-heart"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="http://home.ustc.edu.cn/" target="_blank">
                                    个人 FTP 主页
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-rss"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="https://rec.ustc.edu.cn/" target="_blank">
                                    睿客网
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-bookmarks"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="https://welcome.ustc.edu.cn/" target="_blank">
                                    迎新网
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-wink"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="https://adrain.ustclug.org/" target="_blank">
                                    Admission Rain
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-graduation-cap"></use></svg>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <!-- 技术乐园 -->
                    <div class="main-block">
                        <span class="block-title">技术乐园</span>
                        <div class="block-grid-wrapper">
                            <div class="block-grid">
                                <a href="https://scc.ustc.edu.cn/" target="_blank">
                                    超算中心
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-database"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="https://mirrors.ustc.edu.cn/" target="_blank">
                                    开源软件镜像
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-tux"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="https://git.lug.ustc.edu.cn/" target="_blank">
                                    Gitlab
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-git"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="http://pxe.ustc.edu.cn/" target="_blank">
                                    PXE 启动服务
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-drive"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="https://oj.ustc.edu.cn/" target="_blank">
                                    Online Judge
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-terminal"></use></svg>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <!-- 教室查询 -->
                    <div class="main-block">
                        <span class="block-title">教室查询</span>
                        <div class="block-grid-wrapper">
                            <div class="block-grid">
                                <a href="http://bigscreen.cmet.ustc.edu.cn/#/2" target="_blank">
                                    二教
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-office"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="http://bigscreen.cmet.ustc.edu.cn/#/3" target="_blank">
                                    三教
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-office"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="http://bigscreen.cmet.ustc.edu.cn/#/5" target="_blank">
                                    五教
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-office"></use></svg>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="main-col">
                    <!-- 外部网站 -->
                    <div class="main-block" id="app-test">
                        <span class="block-title">外部网站</span>
                        <span v-if="false">我们正在测试新技术并收集反馈，如果您能看到这段话，或者“外部网站”这个区域显示效果有任何问题，请将情况描述、截图、使用的浏览器版本、上网方式等信息发给 <a href="mail:admin@ustc.life">admin@ustc.life</a>，谢谢！</span>
                        <div class="block-grid-wrapper">
                            <div class="block-grid" v-for="link in links">
                                <a :href="link.url" target="_blank">
                                    {{ link.title }}
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-link"></use></svg>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <!-- 其他 -->
                    <div class="main-block">
                        <span class="block-title">其他</span>
                        <div class="block-grid-wrapper">
                            <div class="block-grid">
                                <a href="http://202.141.162.24:7480/" target="_blank">
                                    自助打印复印
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-printer"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="http://ms.ustc.edu.cn/" target="_blank">
                                    正版软件
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-floppy-disk"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="https://fix.ustc.edu.cn/" target="_blank">
                                    教学设备报修
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-wrench"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="https://hospital.ustc.edu.cn/" target="_blank">
                                    校医院
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-hospital-o"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="https://ecard.ustc.edu.cn/" target="_blank">
                                    一卡通管理
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-credit-card"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="https://sf.ustc.edu.cn/" target="_blank">
                                    网上缴费系统
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-coin-yen"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="https://zsb.ustc.edu.cn/" target="_blank">
                                    招生办
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-magic-wand"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="https://ty.ustc.edu.cn/" target="_blank">
                                    查询体测成绩
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-accessibility"></use></svg>
                                </a>
                            </div>
                            <div class="block-grid">
                                <a href="https://xgyth.ustc.edu.cn/" target="_blank">
                                    学工一体化
                                    <br><svg class="icon"><use xlink:href="image/symbol-defs.svg#icon-chalkboard-teacher"></use></svg>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="footer">
                <!-- refactored by ewind -->
                <a href="https://ustc.life/">USTC 导航</a>是 <a href="https://0x01.me/">Hypercube</a> 受到<a href="https://sqrt-1.me/">负一的平方根</a>的<a href="https://sqrt-1.me/?p=282">一篇文章</a>的启发后，为科大人量身打造的浏览器首页。
                特别感谢 <a href="https://ewind.us/">doodlewind</a> 提供技术支持，<a href="https://lug.ustc.edu.cn/">Linux用户协会</a>提供域名。
                <br><br>
                项目源码：<a href="https://github.com/Smart-Hypercube/ustclife">github.com/Smart-Hypercube/ustclife</a>，报错或申请收录请<a href="https://github.com/Smart-Hypercube/ustclife/issues">创建 issue</a>。
                <br><br>
                Copyright © USTC导航 2016 - 2019
            </div>
        </div>
    </body>
    <script>
        var setHome = function(obj, url) {
            try {
                obj.style.behavior = 'url(#default#homepage)';
                obj.setHomePage(url);
            } catch(e) {
                if(window.netscape) {
                    try {
                        netscape.security.PrivilegeManager.enablePrivilege('UniversalXPConnect');
                    } catch(e) {
                        alert('抱歉，此操作被浏览器拒绝！\n\n解决方法1：\n请在浏览器地址栏输入“about:config”并回车\n然后将[signed.applets.codebase_principal_support]的值设置为true。\n\n解决方法2：\n手动将'+url+'设为首页。');
                    }
                    var prefs = Components.classes['@mozilla.org/preferences-service;1'].getService(Components.interfaces.nsIPrefBranch);
                    prefs.setCharPref('browser.startup.homepage',url);
                } else {
                    alert('抱歉，您所使用的浏览器无法完成此操作。\n\n您需要手动将' + url + '设置为首页。');
                }
            }
        };
        var search = function(site, env) {
            var searchId = env === 'pc' ? 'search-pc' : 'search-mobile';
            var baseURL = {
                google: 'https://www.google.com/#q=',
                baidu: 'https://www.baidu.com/s?wd=',
                bing: 'https://www.bing.com/search?q=',
                wolframalpha: 'https://www.wolframalpha.com/input/?i=',
                wolframalpha_mob: 'https://m.wolframalpha.com/input/?i='
            };
            window.open(baseURL[site] + encodeURIComponent(document.getElementById(searchId).value));
        };
        document.getElementById("search-form-pc").onsubmit = function(e) {
            e.preventDefault();
            search('google', 'pc');
        };
        document.getElementById("search-form-mobile").onsubmit = function(e) {
            e.preventDefault();
            search('bing', 'mobile');
        };
        app = new Vue({
            el: '#app-test',
            data: {
                links: [
                    {title: '知乎', url: 'https://www.zhihu.com/'},
                    {title: 'TED', url: 'https://www.ted.com/'},
                    {title: '微博', url: 'https://www.weibo.com/'},
                    {title: '淘宝', url: 'https://www.taobao.com/'},
                    {title: '京东', url: 'https://www.jd.com/'},
                    {title: '亚马逊', url: 'https://www.amazon.cn/'},
                ],
            },
        });
    </script>
</html>
