---
---

<!DOCTYPE html>
<html>
    <head>
        <title>USTC 导航</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="科大网址大全">
        <meta name="keywords" content="USTC,科大,网址,首页">
        <meta name="author" content="Hypercube">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-Control" content="no-cache">
        <link rel="icon" href="favicon.ico">
        <link href="css/style.css" rel="stylesheet">
        <link href="https://kit-pro.fontawesome.com/releases/latest/css/pro.min.css" rel="stylesheet">
        <script>
          var _hmt = _hmt || [];
          (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?608099a97a36357ac1c2b142b92e67db";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
          })();
        </script>
    </head>
    <body>
        <div class="u_nav-wrapper">
            <div class="u_nav">
                <div class="u_nav-left">
                    <a class="u_nav-link" href=".">USTC 导航</a>
                </div>
                <!-- PC 端搜索框组 -->
                <div class="u_nav-input-group">
                    <form id="search-form-pc">
                        <input class="u_nav-input" id="search-pc">
                        <input type="submit" hidden>
                    </form>
                    <ul>
                        <li class="u_nav-btn">
                            <span onclick="search('google', 'pc')">Google</span>
                            <ul class="u_nav-ul">
                                <li><span class="u_nav-li" onclick="search('bing', 'pc')">Bing</span></li>
                                <li><span class="u_nav-li" onclick="search('baidu', 'pc')">百度</span></li>
                                <li><span class="u_nav-li" onclick="search('wolframalpha', 'pc')">wolfram</span></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- 移动端搜索框组 -->
                <div class="um_nav-input-group">
                    <div class="clear"></div>
                    <form id="search-form-mobile">
                        <input class="um_nav-input" id="search-mobile">
                        <input type="submit" hidden>
                    </form>
                    <div class="um_nav-btn" onclick="search('bing', 'mobile')">Bing</div>
                    <div class="um_nav-btn" onclick="search('google', 'mobile')">Google</div>
                    <div class="um_nav-btn" onclick="search('baidu', 'mobile')">百度</div>
                    <div class="um_nav-btn" onclick="search('wolframalpha_mob', 'mobile')">wolfram</div>
                </div>
                <div class="u_nav-right">
                    <a class="u_nav-link" href="https://ustc.life/">本站网址: <b>ustc.life</b></a>
                    <a href="#" class="u_nav-link" onclick="setHome(this, window.location)">设为首页</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="u_main-wrapper">
            <div class="main">
                <div class="main-col">
                    <div class="main-block">
                        <span class="block-title">最多点击</span>
                        <div class="block-grid-wrapper">
                            {% include block-grid.html url="https://jw.ustc.edu.cn/" title="教务系统" icon="fad fa-bug" %}
                            {% include block-grid.html url="https://icourse.club/" title="评课社区" icon="fad fa-swap-opacity fa-pen-nib" %}
                            {% include block-grid.html url="https://mail.ustc.edu.cn/" title="邮箱" icon="far fa-envelope" %}
                            {% include block-grid.html url="http://lib.ustc.edu.cn/" title="图书馆" icon="fad fa-books" %}
                            {% include block-grid.html url="https://www.ustc.edu.cn/" title="科大官网" icon="fad fa-browser" %}
                            {% include block-grid.html url="https://www.bb.ustc.edu.cn/" title="网络教学平台" icon="fad fa-swap-opacity fa-spell-check" %}
                            {% include block-grid.html url="https://www.teach.ustc.edu.cn/" title="教务处" icon="fad fa-briefcase" %}
                            {% include block-grid.html url="http://ms.ustc.edu.cn/" title="正版软件" icon="fad fa-save" %}
                            {% include block-grid.html url="http://wlt.ustc.edu.cn/" title="网络通" icon="far fa-globe" %}
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="main-block">
                        <span class="block-title">学在科大</span>
                        <div class="block-grid-wrapper">
                            {% include block-grid.html url="http://staff.ustc.edu.cn/" title="教工 FTP 主页" icon="fad fa-swap-opacity fa-house-signal" %}
                            {% include block-grid.html url="https://mis.teach.ustc.edu.cn/" title="旧版教务系统" icon="fad fa-swap-opacity fa-heart-broken" %}
                            {% include block-grid.html url="https://jxzy.ustc.edu.cn/" title="旧版大物实验" icon="fad fa-flask" %}
                            {% include block-grid.html url="https://ty.ustc.edu.cn/hi/view/mobile/login.html" title="查询体测成绩" icon="fad fa-running" %}
                            {% include block-grid.html url="https://tam.cmet.ustc.edu.cn/" title="助教管理系统" icon="fad fa-chalkboard-teacher" %}
                            {% include block-grid.html url="http://etis.ustc.edu.cn/" title="新版大物实验" icon="fad fa-flask" %}
                            {% include block-grid.html url="https://xgyth.ustc.edu.cn/" title="学工一体化" icon="fad fa-chalkboard-teacher" %}
                            {% include block-grid.html url="https://ot.ustc.edu.cn/" title="蜗壳学社" icon="fad fa-comment-alt-lines" %}
                            {% include block-grid.html url="http://ic.lib.ustc.edu.cn/" title="学习空间预约" icon="fad fa-address-book" %}
                            {% include block-grid.html url="https://oj.ustc.edu.cn/" title="Online Judge" icon="fad fa-code" %}
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="main-col">
                    <div class="main-block">
                        <span class="block-title">乐在科大</span>
                        <div class="block-grid-wrapper">
                            {% include block-grid.html url="https://vi.ustc.edu.cn/" title="科大文化" icon="fad fa-landmark" %}
                            {% include block-grid.html url="https://bbs.ustc.edu.cn/" title="瀚海星云" icon="fad fa-swap-opacity fa-comments" %}
                            {% include block-grid.html url="http://www.ustcbbq.com/" title="表白墙" icon="fad fa-swap-opacity fa-heart" %}
                            {% include block-grid.html url="https://i.ustc.edu.cn/" title="校园信息门户" icon="fad fa-swap-opacity fa-newspaper" %}
                            {% include block-grid.html url="http://home.ustc.edu.cn/" title="个人 FTP 主页" icon="fad fa-swap-opacity fa-house-signal" %}
                            {% include block-grid.html url="https://rec.ustc.edu.cn/" title="睿客网" icon="fad fa-swap-opacity fa-bookmark" %}
                            {% include block-grid.html url="https://ecard.ustc.edu.cn/" title="一卡通管理" icon="fad fa-id-card" %}
                            {% include block-grid.html url="https://adrain.ustclug.org/" title="Admission Rain" icon="fad fa-graduation-cap" %}
                            {% include block-grid.html url="https://nan7market.com/" title="南七集市" icon="fad fa-store" %}
                            {% include block-grid.html url="https://weixinprinthost.woquyun.com/wq-web/" title="自助打印复印" icon="fad fa-print" %}
                            {% include block-grid.html url="https://weixine.ustc.edu.cn/2020" title="健康打卡" icon="fad fa-walking" %}
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="main-block">
                        <span class="block-title">技术乐园</span>
                        <div class="block-grid-wrapper">
                            {% include block-grid.html url="https://wvpn.ustc.edu.cn/" title="Web VPN" icon="fad fa-chart-network" %}
                            {% include block-grid.html url="https://mirrors.ustc.edu.cn/" title="开源软件镜像" icon="fab fa-linux" %}
                            {% include block-grid.html url="https://git.ustc.edu.cn/" title="GitLab" icon="fab fa-git-alt" %}
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="main-block">
                        <span class="block-title">教室查询</span>
                        <div class="block-grid-wrapper">
                            {% include block-grid.html url="http://bigscreen.cmet.ustc.edu.cn/#/2" title="二教" icon="fad fa-school" %}
                            {% include block-grid.html url="http://bigscreen.cmet.ustc.edu.cn/#/3" title="三教" icon="fad fa-school" %}
                            {% include block-grid.html url="http://bigscreen.cmet.ustc.edu.cn/#/5" title="五教" icon="fad fa-school" %}
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="main-col">
                    <div class="main-block">
                        <span class="block-title">外部网站</span>
                        <div class="block-grid-wrapper">
                            {% include block-grid.html url="https://www.zhihu.com/" title="知乎" icon="fab fa-zhihu" %}
                            {% include block-grid.html url="https://www.bilibili.com/" title="Bilibili" icon="fad fa-link" %}
                            {% include block-grid.html url="https://www.weibo.com/" title="微博" icon="fab fa-weibo" %}
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="main-block">
                        <span class="block-title">研究生</span>
                        <div class="block-grid-wrapper">
                            {% include block-grid.html url="https://yjs.ustc.edu.cn/" title="信息平台" icon="fad fa-chalkboard-teacher" %}
                            {% include block-grid.html url="https://epc.ustc.edu.cn/main.asp" title="EPC 平台" icon="fad fa-swap-opacity fa-spell-check" %}
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="main-block">
                        <span class="block-title">最少点击</span>
                        <div class="block-grid-wrapper">
                            {% include block-grid.html url="http://202.38.65.52/xyzd/" title="学业指导中心" icon="fad fa-building" %}
                            {% include block-grid.html url="https://baike.ustc.edu.cn/" title="校园百科" icon="far fa-question-circle" %}
                            {% include block-grid.html url="https://scc.ustc.edu.cn/" title="超算中心" icon="fad fa-server" %}
                            {% include block-grid.html url="https://sf.ustc.edu.cn/" title="网上缴费系统" icon="fad fa-yen-sign" %}
                            {% include block-grid.html url="https://hospital.ustc.edu.cn/" title="校医院" icon="fad fa-hospital" %}
                            {% include block-grid.html url="https://verify-transcript.cmet.ustc.edu.cn/manager.action" title="成绩单打印" icon="fad fa-print" %}
                            {% include block-grid.html url="https://welcome.ustc.edu.cn/" title="迎新网" icon="far fa-grin-wink" %}
                            {% include block-grid.html url="https://zsb.ustc.edu.cn/" title="招生办" icon="fad fa-wand-magic" %}
                            {% include block-grid.html url="https://fix.ustc.edu.cn/" title="教学设备报修" icon="fad fa-swap-opacity fa-wrench" %}
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="footer">
                <a href="https://ustc.life/">USTC 导航</a>是 <a href="https://0x01.me/">Hypercube</a> 受到<a href="https://sqrt-1.me/">负一的平方根</a>的<a href="https://github.com/zzh1996/USTC-Network-Resources/blob/master/README.md">一篇文章</a>启发后，为科大人量身打造的浏览器首页。
                不属于常用链接，但仍然有价值的网络资源，参见<a href="https://github.com/zzh1996/USTC-Network-Resources/blob/master/README.md">那篇文章</a>。
                <br><br>
                项目源码：<a href="https://github.com/Smart-Hypercube/ustclife">github.com/Smart-Hypercube/ustclife</a>，报错或申请收录请<a href="https://github.com/Smart-Hypercube/ustclife/issues">创建 issue</a>。
                特别感谢 <a href="https://ewind.us/">doodlewind</a> 和 <a href="https://ibug.io/">iBug</a> 参与开发。
                <br><br>
                欢迎<a href="https://0x01.me/donate/">通过捐赠支持我</a>。
                <br><br>
                Copyright © USTC 导航 2016 - {{ site.time | date: "%Y" }} <a href="https://tongji.baidu.com/web/help/article?id=330&type=0&castk=LTE%3D">百度统计</a>
            </div>
        </div>
    </body>
    <script>
        var setHome = function(obj, url) {
            try {
                obj.style.behavior = 'url(#default#homepage)';
                obj.setHomePage(url);
            } catch(e) {
                if(window.netscape) {
                    try {
                        netscape.security.PrivilegeManager.enablePrivilege('UniversalXPConnect');
                    } catch(e) {
                        alert('抱歉，此操作被浏览器拒绝！\n\n解决方法 1：\n请在浏览器地址栏输入“about:config”并回车\n然后将 [signed.applets.codebase_principal_support] 的值设置为 true。\n\n解决方法 2：\n手动将 '+url+' 设为首页。');
                    }
                    var prefs = Components.classes['@mozilla.org/preferences-service;1'].getService(Components.interfaces.nsIPrefBranch);
                    prefs.setCharPref('browser.startup.homepage',url);
                } else {
                    alert('抱歉，您所使用的浏览器无法完成此操作。\n\n您需要手动将 ' + url + ' 设置为首页。');
                }
            }
        };
        var search = function(site, env) {
            var searchId = env === 'pc' ? 'search-pc' : 'search-mobile';
            var baseURL = {
                google: 'https://www.google.com/#q=',
                baidu: 'https://www.baidu.com/s?wd=',
                bing: 'https://www.bing.com/search?q=',
                wolframalpha: 'https://www.wolframalpha.com/input/?i=',
                wolframalpha_mob: 'https://m.wolframalpha.com/input/?i='
            };
            window.open(baseURL[site] + encodeURIComponent(document.getElementById(searchId).value));
        };
        document.getElementById("search-form-pc").onsubmit = function(e) {
            e.preventDefault();
            search('google', 'pc');
        };
        document.getElementById("search-form-mobile").onsubmit = function(e) {
            e.preventDefault();
            search('bing', 'mobile');
        };
    </script>
</html>
